body {
    font-family: 'Poor Story', cursive;
    background-image: url('88.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    min-width: 300px;
}

header {
    background-color: lightgray;
    font-size: x-large;
    border-radius: 30px 30px 30px 30px;
    padding: 20px;
    margin: 10px;
    text-align: left;
    font-weight: bolder;
}

.headcontent {
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    border-bottom: 5px solid lightcoral;
}

.page-footer {
    font-size: large;
    height: 137px;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: white;
    background-color: rgba(245, 245, 245, 0.644);
    margin: 0;
    border-radius: 30px 30px 30px 30px;
}

.post-body {
    background-color: white;
    padding: 10px 10px;
    background-color: rgba(245, 245, 245, 0.644);
    border-radius: 30px 30px 30px 30px;
}

.target img {
    margin: 5px;
}

.target p,
.genre p {
    /*width: 990px;
    margin: 0 auto;*/
    min-width: 300px;
    text-align: left;
    font-weight: normal;
}

.period p {
    /*width: 800px;
    margin: 0 auto;*/
    min-width: 300px;
    text-align: left;
    font-weight: normal;
}

.genre img,
.period img,
.target img {
    align-items: center;
    border: 3px solid rgb(114, 114, 114);
    margin: 40px auto auto auto;
}

section p,
.target span,
.genre span,
.period span {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

section {
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}

h3 {
    /*width: 450px;
    margin: 0 auto;*/
    border-bottom: 5px solid rgb(114, 114, 114);
}